<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="File Modification Tracker" Version="1.0" Language="1033" Manufacturer="Marveloper-8" UpgradeCode="GUID-CODE">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <Media Id="1" Cabinet="media.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="FileModificationTracker" />
      </Directory>
    </Directory>
    
    <Component Id="MainExecutable" Guid="GUID-CODE">
      <File Id="MainExecutable" Name="file-modification-tracker.exe" Source="file-modification-tracker.exe" KeyPath="yes" />
    </Component>

    <Feature Id="ProductFeature" Title="FileModificationTracker" Level="1">
      <ComponentRef Id="MainExecutable" />
    </Feature>
  </Product>
</Wix>